@page
@model CancellaProdottoModel
@{
  ViewData["Title"] = "Cancella Prodotto";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
  <div class="form-group">
    <b><p>@ViewData["Nome"]</p></b>
    <p>@ViewData["Prezzo"]</p>
    <p>@ViewData["Dettaglio"]</p>
  </div>
  <button type="submit" class="btn btn-danger">Cancella</button>
  <a asp-page="Index" class="btn btn-dark">Annulla</a>
</form>




