@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Open+Sans'); /* Open Sans Font */
@font-face {
    font-family: 'Anurati';
    src: url('../fonts/Anurati-Regular.otf');
}

/* --------------------------- /////////// GENERAL /////////// --------------------------- */
/* -Color- */
.colored {
    color: #d71414;
}
.colored-light {
    color: #d71414;
}
/* -Link Styling- */
a {
    color: #fff;
    font-family: Montserrat, sans-serif;
	text-decoration: none;
}

html, body { 
    background: url(../images/bg.png) repeat;
    color: #FFF;
    font-size: 16px;
    line-height: 1.5rem; /* 24px */
    max-width: 100%;
	overflow-x: hidden;
}
/* -Full width fluid container- */
.full-width {
    padding-left: 0;
    padding-right: 0;
}
/* -Text Styling */
h1,h2,h3,h4,h5,h6 {
	font-family: Montserrat, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text-center {
	text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
ul {
    list-style-type: none;
}
/* -Margins and Floats- */
.floated-left {
     float: left;
}
.floated-right {
    float: right;
}
.inline {
	display: inline;
}
.offset {
	margin-left: 10px;
}
.tiny-margin {
    margin-bottom: 1.5em /* 24px */
}
.small-margin {
	margin-bottom: 3em; /* 48px */
}
.medium-margin {
	margin-bottom: 6em; /* 100px */
}
.large-margin {
	margin-bottom: 12em; /* 192px */
}
/* -RESPONSIVE STYLES- */
@media (min-width: 320px) and (max-width : 640px) {
    .large-margin {
	   margin-bottom: 6em; /* 100px */
}
}
/* -<hr>- */
hr {
    border-top: 1px solid #DDD;
	width: 100%;
	margin: 20px 0 20px 0;
}
.hr-left {
    border-top: 1px solid #DDD;
	display: inline-block;
    height: 1px;
	width: 20%;
	margin-right: 15px;
	margin-bottom: 10px;
}
.hr-right {
    border-top: 1px solid #DDD;
	display: inline-block;
    height: 1px;
	width: 20%;
	margin-left: 15px;
	margin-bottom: 10px;
}
/* Underlines */
.short-hr-center::after {
    border-top: 3px solid;
    border-color: #d71414;
    content: "";
    display: block;
    height: 1px;
    width: 35px;
    margin: 8px auto;
}
.short-hr-left::after {
    border-top: 3px solid;
    border-color: #d71414;
	content: "";
	display: block;
	height: 1px;
	width: 45px;
	margin: 8px auto 0 0;
}
/* General input fields */
input {
    height: 45px;
    padding-left: 10px;
    border: 1px solid #D4D4D4 !important;
}
input:focus {
    border: 1px solid #333;
    outline: none;
}
textarea {
    height: 150px;
	width: 100%;
    max-width: 100%;
	padding-top: 10px;
	padding-left: 10px;
    border: 1px solid #D4D4D4 !important;
}
textarea:focus {
    border: 1px solid #333;
    outline: none;
}
/* -General Button Styles */
.button {
	background: #E9D460;
    border: none;
    border-radius: 2px;
    color: #FFF;
	display: block;
    font-family: Montserrat, sans-serif;
	font-weight: bold;
	height: 30px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
    outline: none;
	transition: all 0.2s ease;
}
.button:hover {
	background: #2B2B2B;
	color: #FFF;
}
/* --------------------------- /////////// HERO IMAGE /////////// --------------------------- */
.hero-unit {
    background-image: linear-gradient(rgba(11, 11, 11, 0.8), rgba(11, 11, 11, 0.8)), url(https://ilovevg.it/wp-content/uploads/2019/09/retro-4237850_1920-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* -Hero Image Caption- */
.hero-caption {
    color: #FFF;
	text-shadow: none; 
    padding: 20px;
    margin: auto;
}
.hero-tags {
    font-family: Montserrat, sans-serif;
    font-size: 1.125rem; /* 18px */
}

/* -RESPONSIVE STYLES- */
@media (min-width : 320px) {

    .hero-unit {
        height: 100vh;
    }
    .hero-caption {
        width: 80%;
        margin-top: 25vh;
    }
    .tagline {
        font-size: 2rem; /* 32px */
    }
}
@media (min-width : 480px) {
    .tagline {
        font-size: 2.5rem; /* 40px */
    }
}
@media (min-width : 640px) {
    .tagline {
        font-size: 3rem; /* 48px */
    }
    .hero-caption {
        margin-top: 35vh;
    }
}
@media (min-width : 1024px) {
    .tagline {
        font-size: 3.5rem; /* 56px */
    }
}
@media (min-width : 1367px) {
    .tagline {
        font-size: 4.5rem;
        }
    .hero-tags {
        font-size: 1.25rem;
    }
}
/* --------------------------- /////////// DEMO SELECTION /////////// --------------------------- */
.big-text {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
#general {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.9) 100%), url(../images/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25vh 5vh;
}
#general .col-md-6:first-of-type {
    padding: 10% 0;
}
#mobile {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.5) 100%), url(../images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25vh 5vh;
}
#mobile .col-md-6:nth-of-type(2) {
    padding: 10% 0;
}
.overlay {
    background: url(../images/bg.png);
    position: absolute;
    width: 0;
    height: 100%;
    border-left: 2px solid #d71414;
    left: 0;
    top: 0;
    padding-top: 23%;
    transition: 0.4s;
}
.overlay.light {
    background: #FFF;
    border-left: 2px solid #d71414;
}
.overlay.large {
    padding-top: 20%;
}
.demo-card {
    margin: 0 15px 30px 15px;
    padding: 0;
}
.demo-card.long {
    margin-left: 12%;
}
.demo-card a:hover .overlay {
    width: 100%;
    border-width: 5px;
}
.demo-card a:hover .name {
    opacity: 1;
    transition-delay: 0.2s;
}
.name {
    font-family: Open Sans, sans-serif;
    font-size: 1.5rem;
    transition: 0.2s;
    letter-spacing: 5px;
    color: #FFF;
    opacity: 0;
    margin-left: 10%;
}
.name.light {
    color: #222;
}
.features {
    padding: 60px 0;
}
.icon {
    width: 30%;
    height: auto;
    margin: 0 auto;
}
#footer {
    border-top: 2px solid #d71414;
    height: auto; 
    color: #FFF;
    padding: 10px 0;
}
#footer a {
    color: #FFF;
}
#footer a:visited {
    color: #FFF;
}
#footer p {
    margin-bottom: 0;
    font-family: Montserrat, sans-serif;
}
#copyright {
    font-family: Montserrat, sans-serif;
    bottom: 0;
}
@media (min-width : 1367px) {
    .big-text {
        font-size: 4.5rem;
    }
}
@media (max-width : 1216px) {
    .icon-wrapper {
        margin-bottom: 50px;
    }
    .icon {
        width: 10%;
    }
}
@media (max-width : 991px) {
    .demo-card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .demo-card.long {
        margin-left: auto;
    }
    #general {
        padding: 5vh 2vh;
    }
    #mobile {
        padding: 5vh 2vh;
    }
}
@media (max-width : 768px) {
    
}

.row{
    background-image: url(https://get.wallhere.com/photo/Hades-Game-Video-Game-Art-video-games-digital-art-artwork-Supergiant-Games-Greek-mythology-1960117.jpg);
}

