#logo{
    font-family: "Honk";
    font-size: 30px;
}

footer {
    text-align: center;
    padding: 20px;
}
@media screen and(min-width: 768px) {
    
    footer {
        position: fixed;
        bottom: 0;    
        width: 100%;
    }
}

