body {
    margin: 0px;
    padding: 0px; 
    font-family: Arial;
    background-color:antiquewhite;
}

header {
    background-color: #211818;
    color: #fff;
    padding: 20px;
    text-align: center;
    /*font-family: 'Times New Roman', Times, serif;*/
}

nav {
    background-color: #936363;
    color: #fff;
    /*padding: 20px;*/
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}
nav a {
    color: #fff;
    text-decoration: none; 
    padding: 20px;
}
nav a:hover {
    background-color: #fff;
    color: #000;
}

section {
    padding: 20px;
    /*display: flex;*/
    margin:20px;
}

footer {
    background-color: #333;
    color: #666;
    padding: 20px;
    text-align: justify;
}

img {
    display: inline-block;
    margin: 0 auto;
}

p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

header h1 {
    text-align: center;
    text-indent: 20px;
    line-height: 1.5;
}

header p {
    text-align: center;
    text-indent: 20px;
    line-height: 1.5;
}

@media (max-width: 520px) {
header {
    background-color: #2e0d0d;

}
    nav {
        font-size: smaller;

}
}

ul {
    list-style-type: circle;
    padding: 0;
}

ul li{
    padding: 10px;
}

ol{
    list-style-type: upper-alpha;
    padding: 20px;
}

ol li{
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a :hover {
    color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

form {
    text-align: center;
}

input, textarea, select{
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: block;
}

button {
    border-radius: 8;
    background-color: #333;
    padding: 10px;
    margin: 10px;
    display: block;

}

div {
    padding: 20px;
    margin: 20px;
    border: 1px solid #000;
}

.colorea {
    background-color: chartreuse;
}

.coloreb {
    background-color: hotpink;
}

hr {
    border-color: #333;
    
}

