#logo{
    font-family: "Honk";
    font-size: 30px;
}

.head-banner{
    background-color:aqua;
    padding-top: 14rem;
    padding-bottom: 19rem;
    background-image: url(https://w0.peakpx.com/wallpaper/609/586/HD-wallpaper-the-great-wall-of-games-ultra-games-other-games-games-gaming-videogames.jpg);
    background-size:auto;
    
    background-position: center;
}

.sezione-icone{
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.bi{
    font-size: 60px;
}

.sezione-immagini .immagine{
    min-height: 30rem;
}

@media screen and(min-width:768px){
    .head-banner{
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    footer {
        position: fixed;
        bottom: 0;    
        width: 100%;
    }
    
}

h1{
    font-family: "Nabla";
    color: chocolate;
    
}

footer{
    text-align: center;
    padding: 20px;
}