body {
    margin: 0px;
    padding: 0px; 
    font-family: Arial;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    /*font-family: 'Times New Roman', Times, serif;*/
}

nav {
    background-color: #666;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none; 
    padding: 20px;
}
nav a:hover {
    background-color: #fff;
    color: #000;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #666;
    padding: 20px;
    text-align: justify;
}

img {
    display: inline-block;
    margin: 0 auto;
}

p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;
}

h1 {
    text-align: center;
}

header h1 {
    text-align: center;
    text-indent: 20px;
    line-height: 1.5;
}

header p {
    text-align: center;
    text-indent: 20px;
    line-height: 1.5;
}

ul {
    list-style-type: circle;
    padding: 0;
}

ul li{
    padding: 10px;
}

ol{
    list-style-type: upper-alpha;
    padding: 20px;
}

ol li{
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

a :hover {
    color: blue;
}